body {
    background-color: #314048 ;
    color: white;
}

.navMenu{
    display: flex;
    align-items: center;
    gap: 60px;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffff;
    margin: 5px auto;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    background-color: #A3ABA9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
    color: #314048;
}

article img {
    border-radius: 10px;
    max-width: 45%;
}

article h2 {
    font-size: 1.5em;
    color: #314048;
    margin-top: 10px;
}

article h3 {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #314048;
}

article p {
    font-size: 1.1em;
    width: 500px;
    height: 80px;
    line-height: 1;
    color: #222;
    margin-bottom: 10px;
}

article .preco{
    width: 100px;
    height: 30px;
    font-size: 1.2em;
}

article button {
    background-color: #314048;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

section button:hover {
    background-color: #222;
}

.carrossel-container{
    position: relative;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    margin: 10px 0px 20px 0px;
    width: 400px;
    height: 400px;
}

.carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img {
    object-fit: cover;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s ease;
}

.carrossel-btn:hover {
    background: rgba(255, 255, 255, 0.9);
}
  
.carrossel-btn.esquerda {
    left: 0;
}
  
.carrossel-btn.direita {
    right: 0;
}

@media(max-width: 765px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #d9afb5;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .navMenu.active{
        right: 0;
    }
}